@use '../../../../styles/mixins/grid' as *;
@use '../../../../styles/mixins/flex' as *;
@use '../../../../styles/variables' as *;

.login {
  @include grid(2, 1fr, 10px);

  width: 100%;
  min-height: 100vh;
  background-color: white;
  padding: 20px;

  @media screen and (max-width: 1179px) {
    @include flex(column-reverse, wrap, center, center);

    gap: var(--md-size);
    padding: var(--md-size);
  }

  .login-logo {
    @include flex(row, wrap, center, center);

    width: 100%;
    height: 100%;
    color: white;
    background-color: var(--gray-900); // your navy color
    border-radius: 40px; // top-left · top-right · bottom-left · bottom-right=0
    position: relative;

    @media (max-width: 1000px) {
      display: none;
    }

    .logo {
      width: 40%;
      height: 40%;
    }
  }

  .login-form {
    @include flex(column, wrap, center, center);

    width: 100%;
    padding: var(--md-size);
    background-color: var(--BgWhite);
    border-radius: var(--radius-xl) 0 0 var(--radius-xl);
    box-shadow: var(--shadow-xl);

    @media screen and (max-width: 1179px) {
      @include flex(column, wrap, center, center);

      gap: var(--md-size);
      border-radius: var(--radius-sm);
      width: 70%;
    }

    @media screen and (max-width: 600px) {
      width: 100%;
    }

    /* ── Title ─────────────────────────────────────────── */
    .title {
      @include flex(column, wrap, center, center);

      gap: 5rem;

      @media screen and (max-width: 1179px) {
        gap: 2rem;
      }

      .logo {
        @include flex(row, wrap, center, center);

        gap: var(--xs-size-3);

        h2 {
          font-size: var(--xl-size-1);
          font-family: 'Bold', sans-serif;
          color: var(--gray-900);
        }
      }

      .text {
        @include flex(column, wrap, center, center);

        width: 100%;
        text-align: center;

        p {
          font-family: 'Bold', sans-serif;
          font-size: var(--xl-size-base);
          color: var(--gray-900);
        }

        span {
          font-family: 'Regular', sans-serif;
          font-size: var(--md-size-base);
          color: var(--gray-400);
        }
      }
    }

    .tabs {
      @include flex(row, wrap, center, center);

      width: 100%;
      gap: 1rem;
      margin-block: 2rem;

      .tab {
        padding: 0.5rem 1rem;
        background-color: var(--PrimaryColor-light);
        border-bottom: 2px solid var(--PrimaryColor);
        cursor: pointer;
        transition: var(--transition);
        width: fit-content;
        font-family: 'Regular', sans-serif;
        font-size: 1rem;
        color: var(--gray-700);
        border-radius: var(--radius-sm) var(--radius-sm) 0 0;

        &.active {
          background-color: var(--PrimaryColor);
          color: var(--BgWhite);
          font-family: 'Bold', sans-serif;
          box-shadow: var(--shadow);
        }

        &:hover:not(.active) {
          background-color: var(--gray-100);
        }
      }
    }

    .inputs {
      @include flex(column, wrap, center, center);

      width: 100%;
      gap: var(--md-size);
      margin-block: var(--xl-size-1);

      .input-wrapper {
        position: relative;
        width: 100%;

        input {
          width: 100%;
          padding: 1rem 1rem 1rem 1.5rem;
          border: 1px solid var(--gray-200);
          border-radius: var(--radius-md);
          transition: var(--transition-fast);
          color: var(--Black) !important;
          background-color: var(--BgWhite) !important;

          &:focus {
            outline: none;
            border-color: var(--PrimaryColor);
            box-shadow: 0 0 0 3px var(--PrimaryColor-light);
            background-color: var(--BgWhite);
          }

          &::placeholder {
            font-family: 'Regular', sans-serif;
            font-size: var(--md-size-base);
            color: var(--gray-400);
          }
        }

        .icon {
          position: absolute;
          left: 1.15rem;
          top: 50%;
          transform: translateY(-50%);
          color: var(--gray-400);
        }

        .icon-eye {
          position: absolute;
          top: 1rem;
          right: 2.5rem;
          height: 25px;
          width: 25px;
          cursor: pointer;
          color: var(--gray-400);
          transition: var(--transition-fast);

          &:hover {
            color: var(--PrimaryColor);
          }
        }
      }
    }

    button {
      width: 100%;
      justify-content: center;
    }
  }
}
