@use '../../../../styles/mixins/grid' as *;
@use '../../../../styles/mixins/flex' as *;
@use '../../../../styles/variables' as *;

.login {
  // @include grid(2, 1fr, 10px);
  width: 100%;
  min-height: 100vh;
  background-color: white;
  padding: 20px;
  height: 300px;
  @include flex(column, wrap, center, center);
  @media screen and (max-width: 1179px) {
    @include flex(column-reverse, wrap, center, center);

    gap: var(--md-size);
    padding: var(--md-size);
  }

  .card {
    background: linear-gradient(180deg, #0b1a2b, #081220);
    border-radius: 40px;
    clip-path: polygon(0% 0%, 100% 0%, 92% 100%, 0% 100%);
    position: relative;
    overflow: hidden;
  }

  .login-logo {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: var(--white);
  }

  .login-logo {
    // @include flex(row, wrap, center, center);

    width: 100%;
    height: 60%;
    color: white;
    background-color: var(--gray-900); // your navy color
    border-radius: 40px; // top-left · top-right · bottom-left · bottom-right=0
    position: relative;

    @media (max-width: 1180px) {
      display: none;
    }

    .logo {
      width: 50%;
      height: 50%;
      transition: all 0.5s ease-in-out;
      @include flex-column(nowrap, center, center);

      h2 {
        color: #121212;
        font-size: 40px;
        font-weight: 700;
      }
      p {
        color: #5d5d5d;
        font-size: 16px;
        font-weight: 500;
      }

      @media (max-width: 1400px) {
        width: 40%;
        height: 30%;
      }
    }
  }

  .login-form {
    @include flex(column, wrap, flex-start, center);

    width: 50%;
    height: 55%;
    padding: var(--md-size);
    background-color: var(--BgWhite);
    border-radius: 24px;
    // box-shadow: var(--shadow-xl);
    box-shadow: -2px 2px 37px #00000026;
    padding: 30px 20px;
    gap: 40px;

    @media screen and (max-width: 1179px) {
      @include flex(column, wrap, center, center);
      border-radius: var(--radius-sm);
      width: 70%;
    }

    @media screen and (max-width: 600px) {
      width: 100%;
    }

    /* ── Title ─────────────────────────────────────────── */
    .title {
      @include flex(column, wrap, center, center);

      gap: 5rem;

      @media screen and (max-width: 1179px) {
        gap: 2rem;
      }

      .logo {
        width: 100%;
        transition: all 0.5s ease-in-out;
        @include flex-column(nowrap, center, center);
        gap: 10px;
        h2 {
          color: #121212;
          font-size: 40px;
          font-weight: 700;
          text-align: center;
        }
        p {
          text-align: center;

          color: #5d5d5d;
          font-size: 16px;
          font-weight: 500;
        }
      }

      .text {
        @include flex(column, wrap, center, center);

        width: 100%;
        text-align: center;

        p {
          font-family: 'Bold', sans-serif;
          font-size: var(--xl-size-base);
          color: var(--gray-900);
        }

        span {
          font-family: 'Regular', sans-serif;
          font-size: var(--md-size-base);
          color: var(--gray-400);
        }
      }
    }

    .tabs {
      @include flex(row, wrap, center, center);

      width: 100%;
      gap: 1rem;
      margin-block: 2rem;

      .tab {
        padding: 0.5rem 1rem;
        background-color: var(--PrimaryColor-light);
        border-bottom: 2px solid var(--PrimaryColor);
        cursor: pointer;
        transition: var(--transition);
        width: fit-content;
        font-family: 'Regular', sans-serif;
        font-size: 1rem;
        color: var(--gray-700);
        border-radius: var(--radius-sm) var(--radius-sm) 0 0;

        &.active {
          background-color: var(--PrimaryColor);
          color: var(--BgWhite);
          font-family: 'Bold', sans-serif;
          box-shadow: var(--shadow);
        }

        &:hover:not(.active) {
          background-color: var(--gray-100);
        }
      }
    }

    .inputs {
      @include flex(column, wrap, center, center);
      width: 100%;
      gap: 20px;
      margin-block: var(--xl-size-1);

      .input-wrapper {
        position: relative;
        width: 100%;
        label {
          font-family: 'Medium';

          color: #121212;
          font-size: 16px;
          font-weight: 600;
        }

        input {
          width: 100%;
          padding: 1rem 1rem 1rem 1.5rem;
          border: 1px solid var(--gray-200);
          border-radius: 50px;
          transition: var(--transition-fast);
          color: var(--Black) !important;
          background-color: var(--BgWhite) !important;

          &:focus {
            outline: none;
            border-color: var(--PrimaryColor);
            box-shadow: 0 0 0 3px var(--PrimaryColor-light);
            background-color: var(--white);
          }

          &::placeholder {
            font-family: 'Regular', sans-serif;
            font-size: var(--md-size-base);
            color: var(--gray-400);
          }
        }

        .icon {
          position: absolute;
          left: 1.15rem;
          top: 50%;
          transform: translateY(-50%);
          color: var(--gray-400);
        }

        .icon-eye {
          position: absolute;
          top: 2.2rem;
          right: 2.5rem;
          height: 25px;
          width: 25px;
          cursor: pointer;
          color: var(--gray-400);
          transition: var(--transition-fast);

          &:hover {
            color: var(--PrimaryColor);
          }
        }
      }
    }

    button {
      width: 100%;
      justify-content: center;
    }
  }
}
