@use '../../../../styles/variables' as *;
@use '../../../../styles/mixins/flex' as *;
@use '../../../../styles/mixins/grid' as *;

.contant_tabs {
  width: 100%;

  &.document-tab {
    display: grid;
    gap: $MdSize;
    margin-bottom: 0;
    width: 100%;

    .form-group {
      background-color: var(--background-color-soft-light);
      border-radius: $XlSize;
      padding: $MdSize;
    }
  }

  .new-form-group {
    margin-bottom: 0;
    width: 100%;

    .input-select {
      background-color: var(--standard-white);
      color: var(--title-header-color);
      font-weight: $BaseFontSemiBoldWeight;
      font-size: $SmSize;
      font-family: 'Medium';
    }

    .skill-percentage {
      align-items: center;
      background-color: var(--background-color-soft-light);
      border-radius: 25px;
      display: grid;
      gap: $XsSize3;
      grid-template-columns: 24px minmax(0, 1fr) 140px;
      margin-top: $XsSize3;
      padding: 12px 16px;

      label {
        background-color: var(--standard-white);
        border: 1px solid var(--input-border-color);
        border-radius: 999px;
        color: var(--standard-black);
        padding: 12px 16px;
      }

      .remove-skill-item {
        cursor: pointer;
      }

      input {
        background-color: var(--standard-white);
        border: 1px solid var(--input-border-color);
        border-radius: 999px;
        color: var(--standard-black);
        min-height: 48px;
        padding: 12px 16px;

        &:focus {
          border-color: var(--PrimaryColor);
          outline: none;
        }
      }
    }
  }

  .form-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: $MdSize;
    margin-bottom: $MdSize;
    width: 100%;

    .field-input {
      border-radius: 50px !important;
    }

    .input {
      .input-label {
        color: var(--title-header-color);
        font-weight: $BaseFontSemiBoldWeight;
        font-size: $SmSize;
        font-family: 'Demi' !important;
      }

      .input-select {
        background-color: var(--standard-white);
      }
    }
  }

  .title {
    h5 {
      color: var(--title-header-color);
      font-weight: $BaseFontSemiBoldWeight;
      font-size: $SmSize;
      font-family: 'Medium';
    }
  }

  .question_source {
    background-color: var(--background-color-soft-light);
    padding: $MdSize;
    border-radius: $XlSize2;
  }

  @media (max-width: 900px) {
    .form-group {
      grid-template-columns: 1fr;
    }

    .new-form-group {
      .skill-percentage {
        grid-template-columns: 24px 1fr;

        input {
          grid-column: 1 / -1;
        }
      }
    }
  }
}
