@use '../../../../styles/variables' as *;
@use '../../../../styles/mixins/flex' as *;
@use '../../../../styles/mixins/grid' as *;

.questions-details-form-card {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-inline: auto;
  // max-width: 1180px;
  width: 100%;

  .form-header {
    display: none;

    .header-text {
      h3 {
        color: $PrimaryColorHover;
        font-size: $XlSize;
        font-weight: $BaseFontSemiBoldWeight;

        @include flex-row(nowrap, center, center);

        gap: $XsSize2;

        span {
          padding-top: 2px;
        }

        svg {
          width: 24px;
          height: 21px;
        }
      }
    }
  }

  .form-fields {
    padding: 0 !important;
    row-gap: 16px;

    @include grid(
      2,
      14px,
      (
        600: 1,
      )
    );

    .field-group {
      @include flex-column(nowrap, flex-start, flex-start);

      gap: 6px;

      &.disabled {
        cursor: not-allowed;
        pointer-events: none;
        opacity: 0.7;
      }

      &.col-span-2 {
        grid-column: span 2;

        @media (max-width: 600px) {
          grid-column: 1 / -1;
        }
      }

      .gender-group {
        @include flex-row(nowrap, flex-start, center);

        gap: $XlSize3;

        .input-field {
          @include flex-row(nowrap, flex-start, center);

          gap: $XsSize4;
          // padding: 14px !important;

          .p-radiobutton-box {
            background: none !important;
          }

          .p-radiobutton-checked .p-radiobutton-icon {
            background-color: $PrimaryColor !important;
          }
        }
      }

      .image-input {
        width: 100%;

        .upload-area {
          background-color: $StandardWhite !important;
          border: 1px dashed var(--gray-300) !important;
          border-radius: 18px !important;
          min-height: 76px;
        }

        .add-imaegs-data {
          @include flex-column(nowrap, center, center);

          gap: 3px;

          .first-text {
            color: $Gray-5;
            font-size: 11px;
            font-weight: $BaseFontSemiBoldWeight;

            span {
              color: $PrimaryColor;
              padding-inline: $XsSize5;
            }
          }

          .second-text {
            color: $SecondText;
            font-size: 10px;
            font-weight: $BaseFontWeight;
          }
        }
      }

      .input-label {
        font-size: 14px !important;
      }

      .field-label {
        width: fit-content;
        text-align: start;
        color: $InputLabelText;
        font-size: 14px !important;
        font-weight: $BaseFontSemiBoldWeight !important;
        text-transform: capitalize !important;
      }

      .input-wrap {
        width: 100%;

        .field-input {
          min-height: 38px;
          width: 100%;
          padding: 8px 14px;
          border: 1px solid $InputBorder !important;
          border-radius: 18px !important;
          font-size: 12px;
          color: $Gray-6;
          background: $White !important;
          outline: none;
          transition: all 0.25s ease;

          &:focus {
            border-color: var(--PrimaryColor);
            background: var(--bg-main);
            box-shadow: 0 0 0 3px var(--PrimaryColor-light);
          }
        }
      }
    }
  }

  .all_tabs {
    display: grid !important;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    gap: 10px;
    margin-bottom: 0;
    width: 100% !important;

    .tab-item {
      align-items: center;
      background-color: var(--bg-main);
      border: 1px solid var(--input-border-color);
      border-radius: $XlSize4;
      color: var(--table-data-color);
      cursor: pointer;
      display: flex;
      gap: 7px;
      min-height: 40px;
      padding: 7px 12px;
      transition:
        border-color 0.2s ease,
        background-color 0.2s ease,
        color 0.2s ease;
      width: 100%;

      input[type='radio'] {
        accent-color: white;
      }

      @media (max-width: 640px) {
        width: 100% !important;
      }

      label {
        cursor: pointer;
        font-size: 11px !important;
        line-height: 1.4;
      }
    }

    .tab-item.active {
      background-color: var(--PrimaryColor-alpha-10);
      border: 1px solid var(--primary-green);
      color: var(--primary-green);

      input[type='radio'] {
        accent-color: green;
        background-color: green;
      }
    }

    .p-radiobutton-box {
      background: none !important;
      height: 14px;
      width: 14px;
    }

    .p-radiobutton-checked .p-radiobutton-icon {
      background-color: $PrimaryColor !important;
    }
  }

  .add-row {
    cursor: pointer;
  }

  .add-icon {
    @include flex-row(nowrap, flex-start, center);

    gap: $XsSize4;
    margin-top: 4px;

    .add-text,
    span {
      color: $PrimaryColor;
      font-size: 12px;
      font-weight: $BaseFontMediumWeight;
      font-family: 'Medium';
    }
  }

  .delete-btn {
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
  }

  @media (max-width: 1000px) {
    .all_tabs {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }

  @media (max-width: 640px) {
    .all_tabs {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }
}
