@use '../../../../styles/variables' as *;
@use '../../../../styles/mixins/flex' as *;
@use '../../../../styles/mixins/grid' as *;

.questions-details-form-card {
  display: flex;
  flex-direction: column;
  gap: $XlSize2;

  .form-header {
    margin-bottom: $XsSize3;
    padding-left: 0 !important;

    .header-text {
      h3 {
        color: $PrimaryColorHover;
        font-size: $XlSize;
        font-weight: $BaseFontSemiBoldWeight;

        @include flex-row(nowrap, center, center);

        gap: $XsSize2;

        span {
          padding-top: 2px;
        }

        svg {
          width: 24px;
          height: 21px;
        }
      }
    }
  }

  .form-fields {
    padding: 0 !important;
    row-gap: $XlSize2;

    @include grid(
      2,
      $XlSize,
      (
        600: 1,
      )
    );

    .field-group {
      @include flex-column(nowrap, flex-start, flex-start);

      gap: $XsSize3;

      &.disabled {
        cursor: not-allowed;
        pointer-events: none;
        opacity: 0.7;
      }

      &.col-span-2 {
        grid-column: span 2;
      }

      .gender-group {
        @include flex-row(nowrap, flex-start, center);

        gap: $XlSize3;

        .input-field {
          @include flex-row(nowrap, flex-start, center);

          gap: $XsSize4;
          padding: 14px !important;

          .p-radiobutton-box {
            background: none !important;
          }

          .p-radiobutton-checked .p-radiobutton-icon {
            background-color: $PrimaryColor !important;
          }
        }
      }

      .image-input {
        width: 100%;

        .upload-area {
          background-color: $StandardWhite !important;
          border: 1px dashed var(--gray-300) !important;
          border-radius: 30px !important;
          min-height: 126px;
        }

        .add-imaegs-data {
          @include flex-column(nowrap, center, center);

          gap: $XsSize5;

          .first-text {
            color: $Gray-5;
            font-size: $XsSize;
            font-weight: $BaseFontSemiBoldWeight;

            span {
              color: $PrimaryColor;
              padding-inline: $XsSize5;
            }
          }

          .second-text {
            color: $SecondText;
            font-size: $XsSize;
            font-weight: $BaseFontWeight;
          }
        }
      }

      .input-label {
        font-size: $MdSize !important;
      }

      .field-label {
        width: fit-content;
        text-align: start;
        color: $InputLabelText;
        font-size: $MdSize !important;
        font-weight: $BaseFontSemiBoldWeight !important;
        text-transform: capitalize !important;
      }

      .input-wrap {
        width: 100%;

        .field-input {
          min-height: 56px;
          width: 100%;
          padding: 13px $MdSize;
          border: 1px solid $InputBorder !important;
          border-radius: $XlSize4 !important;
          font-size: $SmSize;
          color: $Gray-6;
          background: $White !important;
          outline: none;
          transition: all 0.25s ease;

          &:focus {
            border-color: var(--PrimaryColor);
            background: var(--bg-main);
            box-shadow: 0 0 0 3px var(--PrimaryColor-light);
          }
        }
      }
    }
  }

  .all_tabs {
    @include flex-row(nowrap, space-between, center);

    flex-direction: row !important;
    gap: $MdSize;
    margin-bottom: $XlSize2;
    width: 100% !important;

    @media (max-width: 1000px) {
      flex-wrap: wrap !important;
    }

    .tab-item {
      align-items: center;
      background-color: var(--bg-main);
      border: 1px solid var(--input-border-color);
      border-radius: $XlSize4;
      color: var(--table-data-color);
      cursor: pointer;
      display: flex;
      gap: $XsSize4;
      min-height: 64px;
      padding: $MdSize $XlSize2;
      transition:
        border-color 0.2s ease,
        background-color 0.2s ease,
        color 0.2s ease;
      width: 100%;

      input[type='radio'] {
        accent-color: white;
      }

      @media (max-width: 1000px) {
        width: calc(50% - #{$XsSize3}) !important;
      }

      @media (max-width: 640px) {
        width: 100% !important;
      }
    }

    .tab-item.active {
      background-color: var(--PrimaryColor-alpha-10);
      border: 1px solid var(--primary-green);
      color: var(--primary-green);

      input[type='radio'] {
        accent-color: green;
        background-color: green;
      }
    }

    .p-radiobutton-box {
      background: none !important;
    }

    .p-radiobutton-checked .p-radiobutton-icon {
      background-color: $PrimaryColor !important;
    }
  }

  .add-row {
    cursor: pointer;
  }

  .add-icon {
    @include flex-row(nowrap, flex-start, center);

    gap: $XsSize4;
    margin-top: $XsSize2;

    .add-text,
    span {
      color: $PrimaryColor;
      font-size: $MdSize;
      font-weight: $BaseFontMediumWeight;
      font-family: 'Medium';
    }
  }

  .delete-btn {
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
  }
}
