@use '../../../../styles/variables' as *;
@use '../../../../styles/mixins/flex' as *;

.p-dialog.notification-plan-delete-dialog {
  padding: 0 !important;
  .dialog-message {
    color: #d99100;
    background-color: #fff7e6;
    text-align: start;
    font-size: 16px;
    font-weight: 500;
    padding: 20px;
  }
  .btns {
    padding: 20px;
  }
}
