@use '../variables' as *;

.return-btn {
  color: var(--info-text) !important;
  border-radius: 5px !important;
  padding: 5px 10px !important;
  cursor: pointer !important;
  border: 1px solid var(--info-dark) !important;
  transition: all 0.3s ease;
  width: 50%;

  &:hover {
    background-color: var(--info-dark) !important;
    color: var(--white) !important;
    border-color: var(--info-dark) !important;
  }
}

.p-toast-message-info {
  background-color: var(--toast-bg) !important;
  color: var(--toast-text-color) !important;
}

.p-toast-detail {
  color: var(--toast-text-color) !important;
}
