@use '../variables' as *;
@use '../mixins/border' as *;
@use '../mixins/flex' as *;

.input-wrapper {
  @include flex-column();

  padding-inline-end: var(--xl-size-1);

  @media (max-width: 768px) {
    padding-inline-end: 0;
  }

  .label {
    font-size: var(--sm-size);
    color: var(--gray-800);
    font-weight: $BaseFontMediumWeight;
    text-transform: capitalize;

    @include flex-align();

    gap: var(--xs-size-4);
  }

  .input {
    @include flex-row(nowrap, flex-start, center);

    gap: var(--xs-size-2);
    background-color: var(--BgWhite);
    color: var(--gray-800);
    font-size: var(--sm-size);
    font-weight: $BaseFontSemiBoldWeight;
    padding: $XsSize4;

    @include border($BaseBorderWidth, var(--gray-200), solid, var(--md-size));

    width: 100%;
    cursor: pointer;
    transition: var(--transition-fast);

    &:focus {
      outline: none;
      border-color: var(--PrimaryColor);
      box-shadow: 0 0 0 3px var(--PrimaryColor-light);

      @include border($BaseBorderWidth, var(--PrimaryColor), solid, var(--md-size));
    }

    &::placeholder {
      color: var(--gray-400);
      font-size: var(--sm-size);
    }
  }
}
