@use "../mixins/flex" as *;
@use "../variables" as *;

.btn {
  @include flex-center(row, nowrap);
  font-size: var(--sm-size);
  font-weight: $BaseFontWeightBold;
  transition: var(--transition);
  border-width: 1px;
  border-style: solid;
  width: fit-content;
  cursor: pointer;
  gap: var(--xs-size);
  border-radius: var(--radius-sm);
  padding: 10px 20px;

  &.w-full {
    width: 100%;
  }
}
