@use "../mixins/grid" as *;
@use "../mixins/flex" as *;

.permission {
  width: 100%;

  .tabs {
    width: 100%;
    @include grid(3, 1fr, 10px);
    gap: 10px;

    .tab {
      padding: 10px;
      background-color: var(--gray-50);
      width: 100%;
      position: relative;
      border-radius: var(--radius-md);
      border: 1px solid var(--gray-200);
      transition: var(--transition-fast);

      &:hover {
        border-color: var(--PrimaryColor);
        box-shadow: var(--shadow);
      }

      input {
        position: absolute;
        top: 14px;
        width: 15px;
        height: 15px;
        left: 10px;
      }

      label {
        @include flex(row, wrap, space-around, center);

        .card-content {
          @include flex(column, wrap, start, start);
          margin-top: 1rem;
          gap: 5px;

          h4 {
            color: var(--gray-800);
            font-size: 22px;
            font-weight: 600;
          }

          p {
            font-size: 14px;
            color: var(--gray-500);
            font-weight: 600;
          }
        }
      }
    }
  }

  .premission-cards {
    .header {
      width: 100%;
      background-color: var(--gray-50);
      padding: 20px 15px;
      margin-block: 1rem;
      font-size: var(--md-size-2);
      font-family: "Bold";
      color: var(--PrimaryColor);
      gap: 5px;
      border-radius: var(--radius-md);

      .select_all {
        @include flex(row, wrap, flex-end, center);
        gap: 5px;

        input {
          appearance: none;
          -webkit-appearance: none;
          -moz-appearance: none;
          width: 0;
          height: 0;
          position: absolute;
          opacity: 0;
        }

        .checkmark {
          width: 18px;
          height: 18px;
          border: 1px solid var(--gray-300);
          border-radius: var(--radius-xs);
          display: inline-block;
          position: relative;
          transition: var(--transition-fast);

          &::after {
            content: "";
            position: absolute;
            display: none;
            left: 5px;
            top: 2px;
            width: 5px;
            height: 10px;
            border: solid var(--BgWhite);
            border-width: 0 2px 2px 0;
            transform: rotate(45deg);
          }
        }

        input:checked + .checkmark {
          background-color: var(--PrimaryColor);
          border-color: var(--PrimaryColor);

          &::after {
            display: block;
          }
        }
      }
    }

    .tab-content {
      @include grid(3, 1fr, 10px);
      gap: 10px;
      height: 50vh;
      overflow-y: auto;

      @media screen and (max-width: 1350px) {
        @include grid(2, 1fr, 10px);
      }

      @media screen and (max-width: 900px) {
        @include grid(1, 1fr, 10px);
      }

      .card {
        border-radius: var(--radius-lg);
        background: var(--gray-50);
        padding: 12px;
        @include flex(column, wrap, start, start);
        width: 100%;
        gap: 8px;

        .card-header {
          width: 100%;
          @include flex(row, wrap, space-between, center);
          border-bottom: 1px solid var(--gray-200);

          h5 {
            color: var(--gray-800);
            font-family: "Bold";
            font-size: var(--xl-size-base);
          }

          .select_all {
            @include flex(row-reverse, wrap, center, center);
            gap: 8px;

            span {
              color: var(--gray-400);
              font-family: "Bold";
              font-size: var(--xs-size);
            }

            input {
              appearance: none;
              -webkit-appearance: none;
              -moz-appearance: none;
              width: 0;
              height: 0;
              position: absolute;
              opacity: 0;
            }

            .checkmark {
              width: 18px;
              height: 18px;
              border: 1px solid var(--gray-300);
              border-radius: var(--radius-xs);
              display: inline-block;
              position: relative;
              transition: var(--transition-fast);

              &::after {
                content: "";
                position: absolute;
                display: none;
                left: 5px;
                top: 2px;
                width: 5px;
                height: 10px;
                border: solid var(--BgWhite);
                border-width: 0 2px 2px 0;
                transform: rotate(45deg);
              }
            }

            input:checked + .checkmark {
              background-color: var(--PrimaryColor);
              border-color: var(--PrimaryColor);

              &::after {
                display: block;
              }
            }
          }
        }

        .card-body {
          width: 100%;
          @include grid(3, 1fr);

          @media screen and (max-width: 900px) {
            @include grid(2, 1fr);
          }

          gap: 7px;

          label {
            @include flex(row, wrap, center, center);
            width: 100%;
            text-align: center;

            span {
              background-color: var(--BgWhite);
              border-radius: var(--radius-full);
              padding: 6px 10px;
              width: 100%;
              transition: var(--transition-fast);
              color: var(--gray-600);

              &:hover {
                background-color: var(--PrimaryColor-light);
              }
            }

            input {
              display: none;

              &:checked + span {
                background-color: var(--PrimaryColor);
                color: var(--BgWhite);
                border: none;
              }
            }
          }
        }
      }
    }
  }
}
