@use "../variables" as *;
@use "../mixins/flex" as *;

.popover-button {
  @include flex-row(nowrap, center, center);
  gap: 6px;
  cursor: pointer;
  transition: var(--transition-fast);

  &:hover {
    color: var(--PrimaryColor);
  }
}

.popover-content {
  @include flex-column(nowrap, flex-start, flex-start);
  border-radius: var(--radius-md);
  font-family: var(--font-family);
  width: 10rem;
  text-align: center;
  background-color: var(--BgWhite);
  box-shadow: var(--shadow-lg);
  overflow: hidden;

  .img-container {
    width: 100%;
    @include flex-row(nowrap, flex-start, center);

    &:hover img {
      background-color: var(--BgWhite);
      color: var(--PrimaryColor);
    }
  }

  p {
    cursor: pointer;
    padding: var(--xs-size-2);
    width: 100%;
    background: var(--PrimaryColor-light);
    color: var(--PrimaryColor);
    font-size: var(--md-size);
    font-weight: $BaseFontWeightBold;
    transition: var(--transition-fast);

    &:hover {
      background-color: var(--BgWhite);
      color: var(--PrimaryColor-hover);
    }
  }

  img {
    cursor: pointer;
    padding: 10px;
    width: 40px;
    height: 42px;
    background: var(--PrimaryColor-light);
    color: var(--PrimaryColor);
    font-size: var(--md-size);
    font-weight: $BaseFontWeightBold;
    transition: var(--transition-fast);

    &:hover {
      background-color: var(--BgWhite);
    }
  }
}
