@use '../variables' as *;

.btn-primary {
  background-color: var(--PrimaryColor);
  color: var(--BgWhite);
  border-color: var(--PrimaryColor);
  font-family: var(--font-family);
  font-size: var(--xs-size);
  font-weight: $BaseFontSemiBoldWeight;
  border-radius: 50px;
  padding-block: 14px;
  &:hover {
    background-color: var(--BgWhite);
    color: var(--PrimaryColor);
    box-shadow: var(--shadow);
  }

  &:active {
    background-color: var(--PrimaryColor-dark);
    color: var(--BgWhite);
  }
}
