@use "../variables" as *;
@use "../mixins/flex" as *;

.switch-btn {
  @include flex-row(nowrap, center, center);
  gap: 6px;
  font-family: var(--font-family);

  .title {
    color: var(--gray-800);
    font-size: var(--md-size);
    font-weight: $BaseFontSemiBoldWeight;
  }
}
