@use '../../../styles/variables' as *;
@use '../../../styles/mixins/flex' as *;
@use '../../../styles/mixins/border' as *;

.sidebar {
  width: 260px;
  min-height: 95vh;
  height: 100%;
  background: $SidebarBg;
  color: $SidebarTextColor;
  // padding: 26px;
  padding: 0;
  border-radius: 12px;

  .sidebar-wrapper {
    position: relative;

    @include flex-column(nowrap, flex-start, stretch);

    height: 100%;

    .logo-container {
      // padding: 10px 20px;
      text-align: center;
      max-width: 120px;
      margin-left: auto;
      margin-right: auto;

      // margin: auto;
      .logo {
        font-size: 24px;
        font-weight: 700;
        font-family: 'Regular';
        color: $BgWhite;
        width: 100%;
        height: 100%;
      }
    }

    .menu {
      @include flex-column(nowrap, flex-start, stretch);

      gap: 12px;

      .group-title {
        font-size: $SmSize;
        font-weight: $BaseFontWeightBold;
        padding: 0 $XlSize;
        margin-bottom: $XsSize4;
        color: var(--sidebar-group-text-color);
        font-family: 'Medium';
      }

      .menu-item {
        @include flex-row(nowrap, flex-start, center);

        gap: 12px;
        padding: 10px 20px;
        margin: 0 10px;
        color: var(--sidebar-menu-text-color);
        transition: 0.2s;
        font-size: 16px;
        font-weight: $BaseFontSemiBoldWeight;
        font-family: 'Medium';

        .icon {
          width: 18px;
        }

        .label {
          flex: 1;
        }

        .badge {
          background: $Red;
          color: $BgWhite;
          font-size: 10px;
          padding: 2px 6px;
          border-radius: 6px;
        }

        .arrow {
          margin-left: auto;
          opacity: 0.6;
        }

        &:hover {
          background: var(--bg-sidebar-hover);
        }

        &.active {
          background: var(--bg-sidebar-hover);
          color: $BgWhite;
          position: relative;

          &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 4px;
            height: 50%;
            background: $BgWhite;
            border-radius: 6px;
          }
        }
      }
    }

    .auth-container {
      margin-top: auto;
      cursor: pointer;

      @include flex-row(nowrap, space-between, center);

      background-color: $SidebarAuthbg;
      padding: $XsSize2 $XsSize;
      border-radius: 0 0 $XsSize3 $XsSize3;

      .auth-data {
        @include flex-row(nowrap, flex-start, center);

        gap: $XsSize5;

        .user-data {
          @include flex-column(nowrap, flex-start, flex-start);

          .name {
            text-transform: capitalize;
            color: $White;
            font-size: $SmSize;
            font-weight: $BaseFontWeightBold;
          }
        }

        img {
          width: 40px;
          height: 40px;
          border-radius: 50px;
        }
      }
    }

    .mega-menu {
      position: absolute;
      // left: 300px;
      // bottom: 90px;
      left: 25px;
      bottom: 75px;
      width: 220px;
      background: var(--BgWhite);
      border-radius: 16px;
      box-shadow:
        rgba(136, 165, 191, 0.48) 6px 2px 16px 0,
        rgba(255, 255, 255, 0.8) -6px -2px 16px 0;
      padding: 12px;
      z-index: 1000;
      /* Header */
      .mega-header {
        display: flex;
        align-items: center;
        gap: 10px;

        img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
        }

        .name {
          font-weight: $BaseFontWeightBold;
          font-family: 'Medium';
          font-size: $MdSize;
          color: var(--title-card-color);
        }

        .role {
          font-weight: $BaseFontSemiBoldWeight;
          font-family: 'Medium';
          font-size: $XsSize;
          color: var(--title-color);
        }
      }
      /* Divider */
      .divider {
        height: 1px;
        background: var(--gray-100);
        margin: 10px 0;
      }
      /* Actions */
      .mega-actions {
        .logout-btn {
          width: 100%;
          display: flex;
          align-items: center;
          gap: 8px;
          padding: 8px;
          border-radius: 10px;
          background: transparent;
          border: none;
          cursor: pointer;
          color: var(--gray-600);
          transition: 0.3s;

          &:hover {
            background: #fff1f1;
            color: var(--btn-red);

            svg path {
              fill: var(--btn-red);
            }
          }
        }
      }
    }

    .mega-menu-enter-active,
    .mega-menu-leave-active {
      transition: all 0.25s ease;
    }

    .mega-menu-enter-from {
      opacity: 0;
      transform: translateY(10px) scale(0.98);
    }

    .mega-menu-enter-to {
      opacity: 1;
      transform: translateY(0) scale(1);
    }

    .mega-menu-leave-from {
      opacity: 1;
    }

    .mega-menu-leave-to {
      opacity: 0;
      transform: translateY(10px);
    }
  }
}
