@use '../../../../../styles/variables.scss' as *;
@use '../../../../../styles/mixins/flex.scss' as *;
@use '../../../../../styles/mixins/grid.scss' as *;

.mcq-answers-time-line-container {
  display: flex;
  flex-direction: column;
  gap: $XsSize2;

  .timeline-form-content {
    display: grid;
    grid-template-columns: minmax(0, 1fr) 200px 32px;
    gap: $MdSize;
    align-items: end;
    background-color: var(--background-color-soft-light);
    border: 1px solid var(--input-border-color);
    border-radius: $XlSize;
    margin-block: 0 !important;
    padding: $MdSize;

    &.without-delete {
      grid-template-columns: minmax(0, 1fr) 200px;
    }

    @media (max-width: 767px) {
      grid-template-columns: 1fr;
      gap: $XsSize3;
      padding: $SmSize;
    }

    .timeline-content {
      @include flex-row(nowrap, center, center);
    }

    .field-group {
      position: relative;

      .field-label {
        width: fit-content;
        text-align: start;
        color: black !important;
        font-size: $MdSize;
        font-weight: $BaseFontSemiBoldWeight;
        text-transform: capitalize !important;
        font-family: 'Demi';
      }

      .field-input {
        border-radius: 50px;
        background-color: white;
        min-height: 56px;
        padding: 10px 64px 10px 16px;
      }

      .files-input {
        position: absolute;
        bottom: 8px;
        inset-inline-end: 10px;
        border-radius: 50px;

        &.haveImage {
          .upload-area {
            display: none !important;
          }
        }
      }

      .image-input {
        width: 100%;

        .upload-area {
          background-color: $StandardWhite !important;
          padding: 8px !important;
          border-radius: 50%;
          border: 1px solid $PrimaryColor !important;
        }

        .preview-item {
          width: 40px !important;
          height: 40px !important;
          border-radius: 50%;
        }
      }
    }
  }

  .is-correct-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    border: 1px solid #e6e6e6;
    border-radius: 50px;
    min-height: 56px;
    padding: 10px 16px !important;
    cursor: pointer;
    color: #121212;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Medium';

    label {
      color: #121212;
      font-size: 16px;
      font-weight: 500;
      font-family: 'Medium';

      @media (max-width: 767px) {
        font-size: 12px;
      }
    }

    .p-checkbox-box {
      border-radius: 5px !important;
    }
  }

  .delete-icon-container {
    width: 30px;
    height: 30px;
    margin-top: auto;
    margin-bottom: 13px;
    cursor: pointer;

    @media (max-width: 767px) {
      justify-self: end;
      margin-bottom: 0;
    }

    .delete-btn {
      align-self: center;
      border: none;
      padding: 5px;
    }
  }
}
