@use '../../../../../styles/variables.scss' as *;
@use '../../../../../styles/mixins/flex.scss' as *;
@use '../../../../../styles/mixins/grid.scss' as *;

.ranking-answers-time-line-container {
  display: flex;
  flex-direction: column;
  gap: $XsSize2;
  font-family: $FontFamily;

  .timeline-form-content {
    display: grid;
    grid-template-columns: minmax(0, 1fr) 160px 32px;
    gap: $MdSize;
    margin-block: $XsSize3 !important;

    @media (max-width: 767px) {
      grid-template-columns: 1fr;
    }

    .timeline-content {
      @include flex-row(nowrap, center, center);
    }

    .field-group {
      width: 100%;

      .field-label {
        width: fit-content;
        text-align: start;
        color: black !important;
        font-size: $MdSize;
        font-weight: $BaseFontSemiBoldWeight;
        text-transform: capitalize !important;
        font-family: 'Demi';
      }

      .field-input {
        border-radius: 50px;
        background-color: white;
        min-height: 56px;
        padding-inline: 16px;
      }
    }
  }

  .ranking-section {
    width: 100%;

    label {
      color: $StandardBlack;
      font-size: $MdSize;
      font-weight: $BaseFontMediumWeight;

      @media (max-width: 767px) {
        font-size: 12px;
      }
    }

    input {
      background-color: white !important;
      width: 100%;

      @include flex-row(nowrap, space-between, center);

      gap: $XsSize3;
      border: 1px solid $BorderColor;
      border-radius: $XlSize4;
      height: 56px;
      margin-top: 4px;
      padding: 12px 16px;

      &:focus {
        border: 1px solid $BorderColor;
        outline: none;
      }
    }
  }

  .delete-icon-container {
    width: $XlSize3;
    height: $XlSize3;
    margin-top: auto;
    margin-bottom: 12px;
    cursor: pointer;

    .delete-btn {
      align-self: center;
      border: none;
      padding: 5px;
    }
  }
}
