@use '../variables' as *;
@use '../mixins/flex' as *;

.auth-layout {
  min-height: calc(100vh - 108px);
  width: 100%;
  margin-inline: auto;
  font-family: 'Medium';

  @include flex-column(nowrap, center, center);

  gap: 32px;

  > * {
    flex: 0 0 auto;
  }

  .auth-header {
    @include flex-column(nowrap, center, center);

    gap: $MdSize;
    width: 100%;
    .input-wrapper {
      width: 30%;
      input {
        width: 100%;
        &::placeholder {
          padding: 5px;
          color: #7a7a7a;
          font-size: 14px;
          font-weight: 600;
        }
      }
    }

    .title {
      color: #24385c;
      font-size: 32px;
      font-weight: 700;
      font-family: 'Bold';
    }

    .sub-title {
      color: #5d5d5d;
      font-size: 16px;
      font-weight: 500;
      font-family: 'Medium';
    }
  }
  .btn-primary {
    width: 20%;
  }
}
